//
//  Secrets.xcconfig
//  MusicAppClara
//
//  Created by Gabriel Rico on 28/9/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// YOUR API KEY HERE
TMDB_API_KEY = 33452acee92ec3daf0151cc4d4dae717
API_BASE_URL = api.discogs.com/
IMAGES_BASE_URL = image.tmdb.org/t/p/original/

// This token should be either mocked or removed in the future
// YOUR READ TOKEN HERE
TMDB_READ_TOKEN = eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIzMzQ1MmFjZWU5MmVjM2RhZjAxNTFjYzRkNGRhZTcxNyIsInN1YiI6IjYwMWRkOTZjNTVjMWY0MDAzZjNjMzUwNCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.9lQ_PlKZukmN3wWC5HUfMwQ8XdBWU9dPqiJKvjR5Ok0
