//
//  Secrets.xcconfig
//  MusicAppClara
//
//  Created by Gabriel Rico on 28/9/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// YOUR API KEY HERE
API_BASE_URL = api.discogs.com/

// This token should be either mocked or removed in the future
// YOUR READ TOKEN HERE
MUSIC_READ_TOKEN = vNGvfsRqyTtWUyrOhixxbzGQMfgLXdVuCtBoSyzO
